#A2E-Architecture-Zoom {
    visibility: hidden;
    transition: all 0.75s ease-in-out;
    transform: scale(1) translate(0, 0);
}

section:has(.current-fragment) #A2E-Architecture {
    visibility: hidden;
}

section:has(.current-fragment[data-fragment-index="0"]) #A2E-Architecture-Zoom {
    visibility: visible;
    transform: scale(1.6) translate(0%, 17.5%);
}

section:has(.current-fragment[data-fragment-index="1"]) #A2E-Architecture-Zoom {
    visibility: visible;
    transform: scale(2) translate(0%, -30%);
}

section:has(.current-fragment[data-fragment-index="2"]) #A2E-Architecture-Zoom {
    visibility: visible;
    transform: scale(2.5) translate(0%, 0%);
}