/* Cards */
.reveal .card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.reveal .card {
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  width: 500px;
  box-sizing: border-box; /* Includes padding in width */
}