.reveal sup.cite-sup {
  font-size: 0.6em;
  vertical-align: super;
  margin-left: 0.15em;
}

.reveal .slide-sources {
  text-align: left;
  font-size: 0.5em;
  opacity: 0.75;
  padding-top: 1em;
}

.reveal .slide-sources h4 {
  margin: 0;
  padding: 0;
}

.reveal .slide-sources p[data-generated=true] {
  margin: 0.1em 0 0 0;
  padding: 0;
}

.reveal section.sources .sources-list {
  font-size: 0.75em;
  line-height: 1.25;
}

.reveal section.sources .sources-list li {
  margin: 0.25em 0;
  word-break: break-word;
  overflow-wrap: anywhere;
  text-indent: -0.94em;
  list-style-type: none;
}