/* Font-Sizes */

.text-xs {
    font-size: 0.75em !important;
}

.text-sm {
    font-size: 0.875em !important;
}

.text-base {
    font-size: 1em !important;
}

.text-lg {
    font-size: 1.125em !important;
}

.text-xl {
    font-size: 1.25em !important;
}

.text-2xl {
    font-size: 1.4em !important;
}