.reveal .footer {
  margin-top: auto;
  width: 100%;
}

.reveal .meta-data {
  padding-top: 1em;
  width: 100%;
  font-size: 0.5em;
  color: var(--r-footer-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.reveal .meta-data .left {
  text-align: left;
}

.reveal .meta-data .center {
  text-align: center;
}

.reveal .meta-data .right {
  text-align: right;
}

.reveal .meta-data a {
  color: var(--r-footer-color) !important;
}
