.reveal .header {
  align-self: flex-start;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.reveal .header h2 {
  font-size: 0.75em;
  font-weight: normal;
  color: var(--r-main-color);
  margin: 0;
}

.reveal .header hr {
  width: 100%;
  margin: 0.1em;
  height: 2px;
  background-color: var(--r-secondary-color);
  border: none;
}
