.reveal .header {
  width: 100%;
  text-align: center;
}

.reveal .header h2 {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 0.7em;
  font-weight: normal;
  color: var(--r-main-color);
  z-index: 100;
}

.reveal .header h3 {
  font-weight: bold;
  color: var(--r-main-color);
  margin-bottom: 0.5em !important;
}

.reveal .header hr {
  position: fixed;
  top: 15px;
  width: 100%;
  height: 0.2%;
  background-color: var(--r-secondary-color);
  border: none;
  z-index: 100;
}
