 .text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-green {
  color: green;
}

.text-primary {
  color: var(--r-primary-color);
}

.text-secondary {
  color: var(--r-secondary-color);
}

.text-accent {
  color: var(--r-accent-color);
}